<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3><a href="/add_teacher">Add new teacher</a></h3>
    <h3><a href="/list_teachers">See all teachers</a></h3>
    <h3><a href="/add_group">Create new group</a></h3>
    <h3><a href="/list_groups">See all groups</a></h3> 
    <h3><a href="/add_student">Add new student</a></h3>
    <h3><a href="/list_students">See all students</a></h3>  
</body>
</html>